@import "../../node_modules/materialize-css/dist/css/materialize.min.css";

.layout {
  display: flex;
  align-items: center;
}

svg.graph {
  margin: 100px 100px 100px;
  overflow: visible;
}

body {
  text-align: center;
}

.controls {
  flex-shrink: 0;
}

.controls__btn {
  display: block;
  margin: 10px;
}

.label {
  font-size: 10px;
  text-anchor: middle;
}

.info {
  margin-top: 50px;
}
